<html>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <head>
    <title>Coaching Adda</title>
  </head>
  <body>
    <br><br><br>
    <center><h1 style="border-bottom:2px solid gray; width:13%">Contact Us</h1></center><br><br>
    <div class="container" style="border:1px solid gray; box-shadow:1px 1px 4px">
      <p class="lead">
        <span style="margin-left:15px">Wz- J52b, Beriwala Bagh, Hari Nagar, Near Gara Phatak Chowraha, Bara Imambara, Delhi-6, PINCODE: 665544, India.
        Phone No.: 456984562, 856369544, 0231-2465845<br>
        Fax No.: 0321-85479658</span>
      </p>
    </div>
      <br><br><br>
      <center><a href="/" class="btn btn-primary">Back</a></center>
  </body>
</html>
