<!DOCTYPE html>

<html>
  <head><title>Logged Out</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
    @import url(font-awesome.min.css);
    @import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600";

      body > center > p{
        font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
      }
    </style>
  </head>
  <body>
    <center><p class="lead" style="margin-top: 15%; color: gray; "><strong>You have successfully logged out !!</strong></p></center>
    <center>
      <a href="/login"><button class="btn btn-success">Login Again</button></a>
      <a href="/"><button class="btn btn-success">Go to Home</button></a>
    </center>
</html>
